### Description
- configuration file for the learners and their hyperparameters
- this file is ONLY for ADVANCED users very familiar with mlr
- ignoring the following will most likely break the app
- list shortname of learners (see mlr) to make them available
- each line one shortname, no comma/whitespace/tab at the end
- change hyperparameter defaults and names persistently
- use csv like structure for this
- each line:
[learner shortname], [old param name], [new param name], [new min value], [new max value], [new default value];
- use \" for the names
- no \" for the numeric values
- use NA (no \") if something should remain unchanged (param names either both or none NA)


### Valid learners
ranger
logreg
xgboost
rpart
kknn
extraTrees
nbayes
featureless


### Hyperparameter definitions
"short.name", "old.param", "new.param", "new.min", "new.max", "new.default"
