### Description
- configuration file for the learners and their hyperparameters
- this file is ONLY for ADVANCED users very familiar with mlr
- ignoring the following will most likely break the app
- list shortname of learners (see mlr) to make them available
- each line one shortname, no comma/whitespace/tab at the end
- change hyperparameter defaults and names persistently
- use csv like structure for this
- each line:
[learner shortname], [default param name], [new param name], [new min value], [new max value], [new default value], [tooltip], [remove hyperparam from UI];
- use \" for the names
- no \" for the numeric values
- use NA (no \") if something should remain unchanged
- short.name and param.name are unique identifiers and should never be NA
- never use \' in "tooltip" - it breaks the javascript code for rendering the tooltips
- set learner shortname and hyperparameter id in "Hyperparameter blacklist" section to ignore hyperparameter for the UI


### Valid learners
ranger
logreg
xgboost
rpart
kknn
nbayes
featureless
svm
extraTrees
dbscan
cmeans
kmeans
em
cobweb
farthestfirst
simplekmeans
xmeans


### Hyperparameter definitions
"short.name", "param.name", "new.name", "new.min", "new.max", "new.default", "tooltip"
"rpart", "cp", "Complexity param", NA, NA, NA, NA
"nbayes", "laplace", NA, NA, 30, NA, NA
"xgboost", "gamma", NA, NA, 10, NA, NA
"xgboost", "lambda_bias", NA, NA, 10, NA, NA
"xgboost", "alpha", NA, NA, 10, NA, NA
"xgboost", "max_delta_step", NA, NA, 10, NA, NA
"featureless", "method", NA, NA, NA, NA, "Method used for calculating new prediction based only on old predictions"


### Hyperparameter blacklist
"short.name", "param.name"
"extraTrees", "numThreads"
