### Description
- configuration file for the learners and their hyperparameters
- this file is ONLY for ADVANCED users very familiar with mlr
- ignoring the following will most likely break the app
- list shortname of learners (see mlr) to make them available
- each line one shortname, no comma/whitespace/tab at the end
- change hyperparameter defaults and names persistently
- use csv like structure for this
- each line:
[learner shortname], [default param name], [new param name], [new min value], [new max value], [new default value];
- use \" for the names
- no \" for the numeric values
- use NA (no \") if something should remain unchanged
- short.name and param.name are unique identifiers and should never be NA


### Valid learners
ranger
logreg
xgboost
rpart
kknn
extraTrees
nbayes
featureless
kkmeans


### Hyperparameter definitions
"short.name", "param.name", "new.name", "new.min", "new.max", "new.default"
"rpart", "cp", "Complexity param", NA, NA, NA
"extraTrees", "na.action", "NA action", NA, NA, NA
"extraTrees", "numThreads", NA, NA, 10, NA
"nbayes", "laplace", NA, NA, 30, NA
"xgboost", "gamma", NA, NA, 10, NA
"xgboost", "lambda_bias", NA, NA, 10, NA
"xgboost", "alpha", NA, NA, 10, NA
"xgboost", "max_delta_step", NA, NA, 10, NA
